<h2><%= @track.title %></h2>


<p style="white-space: pre-wrap;"><%= @track.lyrics %></p>

<%= render partial: "notes/note", collection: @track.notes %>

<h3> New Note</h3>
  <%= render partial: "notes/form" %>


<h4> Links</h4>

<ul>
  <li><%= link_to "Edit Track", edit_track_path(@track) %></li>
  <li><%= link_to "Delete Track", track_path(@track), method: :delete %></li>
  <li><%= link_to @track.album.title, album_path(@track.album) %>
</ul>


