<h2><%= @album.title %></h2>

<ul>
  <% @album.tracks.each do |track| %>
    <li><%= link_to track.title , track_path(track) %></li>
  <% end %>
</ul>


<h4>Links</h4>
<ul>
  <li><%= link_to "New Track", new_album_track_path(@album) %></li>
  <li><%= link_to "Edit Album", edit_album_path(@album) %>
  <li><%= link_to "Delete Album", album_path(@album), method: :delete %>
</ul>

